<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DCAD_Path" value="C:\\Program Files\\TechnoStar\\Jupiter-Pre_4.1.3\\DCAD_main.exe"/>
    <add key="PCAD_Path" value="C:\\Program Files\\TechnoStar\\Jupiter-Post_4.1.3\\PCAD_main.exe"/>
    <add key="HIBIYA2.DCAD_Path" value="D:\\jenkins\\jobs\\JPT-Pre\\DCAD\\bin\\Release\\x64\\DCAD_main.exe"/>
    <add key="HIBIYA2.PCAD_Path" value="D:\\jenkins\\jobs\\JPT-Post\\bin\\Release\\x64\\PCAD_main.exe"/>
  </appSettings>
</configuration>